#judulblog {
  text-align: left;
  font-size: 45px;
  font-family: "Muli", sans-serif;
  font-weight: 800;
  letter-spacing: 0;
  color: #19345e;
  opacity: 1;
}
#larry {
  top: 5px;
  bottom: 30px;
  width: 276px;
  height: 25px;
  text-align: left;
  font: Bold 15px/58px "Muli", sans-serif;
  letter-spacing: 0;
  color: #19345e;
  opacity: 1;
}
#pg-larry {
  margin: 50px 0;
  top: 5px;
  text-align: left;
  font-size: 5px;
  font-family: "Poppins";
  letter-spacing: 0;
  color: #19345e;
  opacity: 1;
}
